# Ignore everything by default
*

# Explicitly whitelist only exact files
!.gitignore
!LICENSE
!README.md
!CONTRIBUTING.md

# Always ignore OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 